@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  color: salmon;
  position: absolute;
  top: 100px;
  font-weight: 700;
  font-size: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  width: 400px;
  height: 400px;
  background-color: salmon;
  border-radius: 10px;
}

.container .dot {
  height: 24px;
  width: 24px;
  background-color: whitesmoke;
  margin: 0 8px;
  display: inline-block;
  border-radius: 50px;
}

.container:nth-child(1) .dot {
  animation: dotLoaders 0.9s linear infinite forwards;
}

.container:nth-child(2) .dot {
  animation: dotLoaders2 1.5s linear infinite forwards;
}

.container .dot.dot-1 {
  animation-delay: 0.25s;
}
.container .dot.dot-2 {
  animation-delay: 0.5s;
}
.container .dot.dot-3 {
  animation-delay: 0.75s;
}
/* jumping animation */
@keyframes dotLoaders {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* fading-blinking animation */
@keyframes dotLoaders2 {
  0% {
    background-color: rgba(255, 255, 255, 0.137);
    transform: scale(0.8);
  }
  50% {
    background-color: white;
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.137);
    transform: scale(0.8);
  }
}
