@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 50px;
  width: 400px;
  height: 200px;
  background-color: salmon;
}

.container .dot {
  height: 12px;
  width: 12px;
  background-color: whitesmoke;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50px;
  animation: dotLoaders 0.9s infinite linear forwards;
}

.container .dot-1 {
  animation-delay: 0.25s;
}
.container .dot-2 {
  animation-delay: 0.5s;
}
.container .dot-3 {
  animation-delay: 0.75s;
}

@keyframes dotLoaders {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
